body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}

.about img {
    width: 150px;
    border-radius: 50%;
    margin: 20px;
}

.projects {
    margin: 20px;
}

.project-card {
    background: #f4f4f4;
    padding: 10px;
    margin: 10px auto;
    width: 50%;
    border-radius: 5px;
}

footer {
    background: #333;
    color: white;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.documents {
    text-align: center;
    margin-top: 20px;
}

.btn-download {
    display: inline-block;
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}
.about img {
    width: auto;   /* La imagen mantendrá su tamaño original */
    height: auto;  /* La altura se ajusta proporcionalmente */
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    display: block;  /* Elimina el espacio debajo de la imagen */
    margin: 0 auto;  /* Centra la imagen dentro del contenedor */
}

